TP_wsdl/programme-fidelite/programme-fidelite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FidelityProgram"
                  targetNamespace="http://example.com/fidelityprogram"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://example.com/fidelityprogram"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/fidelityprogram">
      
      <xsd:element name="CustomerID" type="xsd:string"/>
      
      <xsd:element name="PointsBalance" type="xsd:int"/>
      
      <xsd:element name="GetPointsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerID" type="tns:CustomerID"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetPointsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pointsBalance" type="tns:PointsBalance"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetPointsRequest">
    <wsdl:part name="parameters" element="tns:GetPointsRequest"/>
  </wsdl:message>

  <wsdl:message name="GetPointsResponse">
    <wsdl:part name="parameters" element="tns:GetPointsResponse"/>
  </wsdl:message>

  <wsdl:portType name="FidelityProgramPortType">
    <wsdl:operation name="GetPoints">
      <wsdl:input message="tns:GetPointsRequest"/>
      <wsdl:output message="tns:GetPointsResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="FidelityProgramBinding" type="tns:FidelityProgramPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetPoints">
      <soap:operation soapAction="http://example.com/fidelityprogram/GetPoints"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="FidelityProgramService">
    <wsdl:port name="FidelityProgramPort" binding="tns:FidelityProgramBinding">
      <soap:address location="http://example.com/fidelityprogram"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
