TP_wsdl/recherche-produit/recherche-produit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ProductSearchService"
             targetNamespace="http://example.com/productSearchService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/productSearchService"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
             
  <types>
    <xsd:schema targetNamespace="http://example.com/productSearchService">
      <xsd:element name="Product" type="tns:Product"/>
      <xsd:complexType name="Product">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="price" type="xsd:float"/>
          <xsd:element name="category" type="xsd:string"/>
          <xsd:element name="availability" type="xsd:boolean"/>
          <xsd:element name="manufacturer" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductList">
        <xsd:sequence>
          <xsd:element name="product" type="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  
  <message name="SearchProductsRequest">
    <part name="keyword" type="xsd:string"/>
    <part name="category" type="xsd:string" minOccurs="0"/>
    <part name="manufacturer" type="xsd:string" minOccurs="0"/>
    <part name="minPrice" type="xsd:float" minOccurs="0"/>
    <part name="maxPrice" type="xsd:float" minOccurs="0"/>
  </message>
  <message name="SearchProductsResponse">
    <part name="productList" type="tns:ProductList"/>
  </message>
  
  <message name="GetProductDetailsRequest">
    <part name="productId" type="xsd:int"/>
  </message>
  <message name="GetProductDetailsResponse">
    <part name="product" type="tns:Product"/>
  </message>
  
  <portType name="ProductSearchPortType">
    <operation name="searchProducts">
      <input message="tns:SearchProductsRequest"/>
      <output message="tns:SearchProductsResponse"/>
    </operation>
    <operation name="getProductDetails">
      <input message="tns:GetProductDetailsRequest"/>
      <output message="tns:GetProductDetailsResponse"/>
    </operation>
  </portType>
  
  <binding name="ProductSearchBinding" type="tns:ProductSearchPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="searchProducts">
      <soap:operation soapAction="http://example.com/productSearchService/searchProducts"/>
      <input>
        <soap:body use="encoded" namespace="http://example.com/productSearchService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://example.com/productSearchService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getProductDetails">
      <soap:operation soapAction="http://example.com/productSearchService/getProductDetails"/>
      <input>
      <soap:body use="encoded" namespace="http://example.com/productSearchService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
      <soap:body use="encoded" namespace="http://example.com/productSearchService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <service name="ProductSearchService">
    <port name="ProductSearchPort" binding="tns:ProductSearchBinding">
      <soap:address location="http://example.com/productSearchService"/>
    </port>
  </service>
</definitions>